body {
  font-family: sans-serif;
  margin: 0;
  text-align: center;
  background-color: #200;
  color: #fdd;
}
header {
  font-size: 2em;
  margin: 0.25em;
}
footer {
  font-size: 0.75em;
  width: 800px;
  margin: auto;

  & a {
    color: lightblue;

    & :visited {
      color: lightblue;
    }
  }
}
